<!doctype html>
<!--[if lte IE 8 ]>
<html lang="en" class="no-js oldie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>being youssoupha - jo exposito</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/style.css?v=2">
  <script src="/js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
<div id="container">
  <header>
    <div class="name">
      being youssoupha
    </div>
    <div class="info">
      jo exposito<br/>
      <a href="mailto:jo@joexposito.com">jo@joexposito.com</a>
    </div>
  </header>

  <div id="main" role="main">
    <%= yield %>
  </div>
  <a id="toggle" href="#">+</a>

  <footer>

  </footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
<script src="/js/galleria/galleria-1.2.3.min.js"></script>
<script src="/js/galleria/themes/classic/galleria.classic.min.js"></script>
<script>
    $(function() {
        $("div#gallery").galleria({
            data_source: data,
            maxScaleRatio : 1,
            clicknext: true,
            /*          thumbnails: false,*/
            transition: false,
            carouselSteps: 5,
            idleTime: 3000,
            idleSpeed: 0
        });

        var gallery = Galleria.get(0);
        var thum = gallery.$('thumbnails');
        thum.on = function() {
            thum.css('opacity', 1);
            $("#toggle").text('-');
        };
        thum.off = function() {
            thum.css('opacity', 0);
            $("#toggle").text('+');
        };
        thum.toggle = function() {
            thum.css('opacity') == 0 ?  thum.on() :  thum.off();
        };

        $("#toggle").click(thum.toggle);
        thum.off();

        gallery.addIdleState(gallery.get('thumbnails'), {
        });
        gallery.attachKeyboard({
            left: gallery.prev, // applies the native prev() function
            right: gallery.next,
            up: thum.on,
            down: thum.off
        });

        function resizeGallery() {
            gallery.rescale();
        }

        var active = false;
        $(window).resize(function() {
            if (active) {
                active = true;
                setTimeout(function() {
                    active = false;
                    resizeGallery();
                }, 1000);
            }
        });
    })
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3241357-15']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>